<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Configgy</string>
	<key>uuid</key>
	<string>4491AF59-A289-4D1D-8159-E620071EBBA0</string>
</dict>
</plist>
